<template>
  <div id="app">
    <div id="diff">
      <button @click="diff++">{{ diff % 3 }}</button>
      <span id="expand">Difficulty</span>
    </div>
    <div id="game" v-show="diff % 3 == 2">
      <div class="row" v-for="row_i in 6">
        <button
          v-for="col_i in 6"
          :class="'col ' + get_class(row_i - 1, col_i - 1)"
          @click="modify_board(row_i - 1, col_i - 1)"
        >
          {{ get_val(row_i - 1, col_i - 1) }}
        </button>
      </div>
      <div id="restart" v-show="nums.every((v, i) => v === board[i])">
        <button
          class="col num"
          style="width: 100%; border-radius: 1rem"
          @click="init_game()"
        >
          Restart
        </button>
      </div>
      <div id="selection-board" v-show="!nums.every((v, i) => v === board[i])">
        <div>
          <button
            :class="{
							active: selected == si,
							used: si == null ? false : board.includes(si),
							col: true,
							btn: true
						}"
            v-for="si in ans.slice(0, 5)"
            @click="press(si)"
          >
            {{ si }}
          </button>
        </div>
        <div>
          <button
            :class="{
							active: selected == si,
							used: si == null ? false : board.includes(si),
							col: true,
							btn: true
						}"
            v-for="si in ans.slice(5)"
            @click="press(si)"
          >
            {{ si }}
          </button>
        </div>
      </div>
    </div>
    <div id="table" v-show="diff % 3 == 0">
      <div class="row" v-for="r in 10">
        <button
          v-for="c in 10"
          :class="{
						col: true,
						num: true,
						arith: r == 1 || c == 1,
						pressed: r == 1 || c == 1
					}"
        >
          {{ r * c }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        diff: 0,
        rows: [],
        nums: [],
        arith: [],
        board: [null, null, null, null, null, null, null, null, null],
        ans: [1, 2, 3, 4, 5, 6, 7, 8, 9, null],
        selected: null,
        // available 'ref' options:
        // "children" - child mode, a low-difficulty multiplication table
        // "teacher" - teacher mode, a medium-difficulty demonstration of multiplying
        // "parent" - parent mode, a high-difficulty multiplication game
        ref: "children",
      };
    },
    methods: {
      get_val(row_i, col_i) {
        if (row_i % 2 == 1 && col_i % 2 == 1) return null;
        if (row_i % 2 == 0 && col_i % 2 == 0)
          return this.board[(3 * row_i) / 2 + col_i / 2];
        if (row_i == 5) return this.calc_col(col_i / 2);
        if (col_i == 5) return this.calc_row(row_i / 2);
        // return "a";
        if (row_i % 2 == 0) return this.arith[row_i / 2][(col_i - 1) / 2];
        else return this.arith[col_i / 2 + 3][(row_i - 1) / 2];
      },
      get_class(row_i, col_i) {
        const get_result_class = (i) => {
          return i == 0
            ? "end pressed"
            : i > 0
            ? "end pressed right"
            : "end pressed wrong";
        };
        if (col_i == 5 && row_i % 2 == 0)
          return get_result_class(this.verify_row(row_i / 2));
        if (row_i == 5 && col_i % 2 == 0)
          return get_result_class(this.verify_col(col_i / 2));
        if (col_i % 2 == 0 && row_i % 2 == 0) return "num";
        if (col_i % 2 ^ row_i % 2) return "arith pressed";
        return "null";
      },
      modify_board(row_i, col_i) {
        if (row_i % 2 == 0 && col_i % 2 == 0) {
          this.board[col_i / 2 + (3 * row_i) / 2] = this.selected;
          console.log(this.board);
          this.selected = -1;
          this.selected = null;
        }
      },
      verify_row(row_i) {
        if (this.calc_row(row_i, this.board) == null) return 0;
        else if (this.calc_row(row_i, this.board) == this.calc_row(row_i))
          return 1;
        return -1;
      },
      verify_col(col_i) {
        if (this.calc_col(col_i, this.board) == null) return 0;
        else if (this.calc_col(col_i, this.board) == this.calc_col(col_i))
          return 1;
        return -1;
      },
      calc_row(row_i, add_nums) {
        let nums = add_nums || this.nums;
        return this.calc(
          nums.slice(3 * row_i, 3 * row_i + 3),
          this.arith[row_i].slice()
        );
      },
      calc_col(col_i, add_nums) {
        let nums = add_nums || this.nums;
        return this.calc(
          nums.filter((v, i) => i % 3 == col_i),
          this.arith[col_i + 3].slice()
        );
      },
      calc3(num1, arg, num2) {
        switch (arg) {
          case "+":
            return num1 + num2;
          case "-":
            return num1 - num2;
          case "x":
            return num1 * num2;
          default:
            return null;
        }
      },
      calc(n, a) {
        if (n === null || a === null) return null;
        if (n.includes(null)) return null;
        let result = n.shift();
        while (n.length && a.length) {
          result = this.calc3(result, a.shift(), n.shift());
        }
        return Number.isInteger(result) ? result : null;
      },
      incrs_diff() {
        this.diff++;
      },
      init_game() {
        // generate a set ranged from 0-9
        // and then shuffle it
        this.nums = Array.from({ length: 9 }, (v, k) => k + 1)
          .map((value) => ({ value, sort: Math.random() }))
          .sort((a, b) => a.sort - b.sort)
          .map(({ value }) => value);

        // generate the arithmetic functions
        // 3 horizontal, and then 3 vertical
        for (var i = 0; i < 6; i++) {
          // make sure that there is a 1/2 chance of 'x' exists
          this.arith.push([
            Math.round(Math.random()) ? "x" : "+",
            Math.round(Math.random()) ? "+" : "-",
          ]);
        }
        console.log(this.nums);
      },
      press(si) {
        this.selected = si;
      },
    },
    created() {
      this.init_game();
    },
  };
</script>

<!-- Use preprocessors via the lang attribute! e.g. <style lang="scss"> -->
<style lang="scss">
  body {
    --black: #403f4c;
    --pink: #efbcd5;
    --blue: #3185fc;
    --yellow: #f9dc5c;
    --red: #e84855;
    --green: #adc698;
    background-color: var(--black);
    color: var(--black);
    button {
      border: none;
      background-color: transparent;
      font: inherit;
    }
  }
  #app {
    // global stylesheet
    // for every mode
    font-family: "Baloo", cursive !important;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    .row {
      display: flex;
    }
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3.7rem;
      margin: 0.5rem;
      border-radius: 20%;
      &.btn {
        background: var(--yellow);
        color: var(--black);
      }
      &:not(.null) {
        border: none;
        border-bottom: inset 0.2rem rgba(0, 0, 0, 0.2);
        // some coloring
        &.num {
          background: var(--yellow);
          color: var(--black);
        }
        &.arith {
          background: var(--blue);
          color: white;
        }
        &.end {
          background-color: var(--pink) !important;
          color: var(--black) !important;
        }
        &.pressed,
        &:not(.null):not(.end):active,
        &:not(.null):not(.end).active {
          height: 3.6rem;
          border-top: inset 0.2rem rgba(0, 0, 0, 0.1);
          border-bottom: none;
          transform: translateY(0.2rem);
        }
      }
      &.end.wrong {
        background-color: var(--red) !important;
      }
      &.end.right {
        background-color: var(--green) !important;
      }
    }
    > * {
      transition: ease all 1s;
    }
  }

  #game {
    // game style sheet
    #selection-board,
    #restart {
      margin-top: 4rem;
    }
    #selection-board > * {
      display: flex;
      justify-content: center;
      align-items: center;
      .col.active {
        @keyframes cur_selected {
          0% {
            background-color: var(--yellow);
          }
          50% {
            background-color: var(--blue);
          }
        }
        animation: cur_selected 2s infinite;
      }
      .col.used {
        filter: brightness(50%);
      }
    }
  }
  #diff {
    z-index: 99999;
    &,
    & > * {
      height: 3rem;
      border-radius: 1rem;
      background-color: var(--blue);
    }
    button {
      top: 20px;
      right: 20px;
      width: 2rem;
      position: fixed;
      z-index: 9999;
    }
    #expand {
      display: flex;
      justify-content: center;
      align-items: center;

      filter: opacity(90%) brightness(80%);
      max-width: 0.5rem;
      color: transparent;

      position: fixed;
      top: 20px;
      right: 20px;
      padding: 0 3rem 0 1rem;
      z-index: 2;
      opacity: 0;
      transition: ease all 0.8s;
      z-index: 999;
    }
    button:hover + #expand {
      max-width: 10rem;
      height: 3rem;
      color: var(--black);
      font-size: 2rem;
      right: 20px;
      top: 20px;
      opacity: 1;
    }
  }
  #table {
    .col {
    }
  }
</style>
